.detail-product {
  padding: 20px;
}

.product-name {
  font-size: 2em;
  margin-bottom: 10px;
}

.product-info {
  display: flex;
}

.product-image {
  max-width: 300px;
  margin-right: 20px;
}

.product-details {
  display: flex;
  flex-direction: column;
}

.product-details p {
  margin: 5px 0;
}
