.detail_container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
}

.detail-product {
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  width: 600px;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.1); /* Added shadow for better visibility */
}

.product-name {
  font-size: 2em;
  margin-bottom: 10px;
}

.product-info {
  display: flex;
}

.product-image {
  max-width: 300px;
  margin-right: 20px;
}

.product-details {
  display: flex;
  flex-direction: column;
}

.product-details p {
  margin: 5px 0;
}
