.detail_container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
}

.detail-product {
  padding: 20px;
  padding-bottom: 50px;
  background-color: white;
  border-radius: 10px;
  width: 900px;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.1); /* Added shadow for better visibility */
}

.product-name {
  font-size: 2em;
  margin-bottom: 30px;
}

.product-info {
  display: flex;
}

.product-image {
  max-width: 300px;
  margin-right: 50px;
  border-radius: 5px;
}

.product-detailsadmin {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.product-detailsadmin .left {
  display: flex;
  flex-direction: column;
  width:150px; /* Adjust the width of the left section */
}

.product-detailsadmin .right {
  display: flex;
  flex-direction: column;
  margin-right: 180px; /* Adjust the margin to move closer to the left */
}

.product-detailsadmin h3 {
  margin: 10px 0 5px; /* Adjust margin to be closer to the p element */
}

.product-details p {
  margin: 0 0 15px; /* Adjust margin to be closer to the h3 element */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: white;
  width: 150px; /* Ensure p elements take full width of their container */
}
