.head_admin {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 20px;
    background-color: #ecf0f1;
  }
  
  .notification-icon_admin {
    font-size: 24px;
    margin-right: 20px;
    cursor: pointer;
  }
  
  .profile-icon_admin {
    font-size: 18px;
  }
  